
body {
    margin: 0;
    font-family: 'Georgia', serif;
    background: linear-gradient(to bottom, #f5f1e8, #e8dfc8);
    text-align: center;
    overflow-x: hidden;
}

.container {
    background: rgba(255, 255, 255, 0.85);
    width: 90%;
    max-width: 600px;
    margin: 50px auto;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    position: relative;
    z-index: 1;
}

h1 { color: #6b8e23; font-size:28px; margin-bottom:10px; }
h3 { color: #8b4513; }

.option-btn {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 12px;
    border: none;
    border-radius: 12px;
    background-color: #a67c52;
    color: white;
    font-size: 14px;
    cursor: pointer;
    transition: 0.3s;
}

.option-btn:hover { background-color: #6b8e23; transform: scale(1.03); }

#resultImage {
    margin-top: 15px;
    width: 220px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.leaf {
    top: -120px;
    width: 50px;
    opacity: 0.5;
    pointer-events: none;
    z-index: -1;
    animation: floatLeaf 18s linear infinite;
}

@keyframes floatLeaf {
    0% { transform: translateY(0) rotate(0deg); }
    100% { transform: translateY(130vh) rotate(360deg); }
}

#copyBtn {
    margin-top: 20px;
    padding: 12px 25px;
    background-color: #6b8e23;
    color: white;
    border: none;
    border-radius: 12px;
    font-size: 16px;
    cursor: pointer;
}

#copyBtn:hover { background-color: #a67c52; }

