body {
    font-family: Arial;
    text-align: center;
    padding: 20px;
}

.option-btn {
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 80%;
    font-size: 16px;
}

#imageBox {
    margin-top: 20px;
}

#resultImage {
    width: 100%;
    max-width: 500px;
    display: none;
}